body{
  background-color: white;
  align-items: center;
  text-align: center;
}
button{
  border: none;
  color: gray;
  background-color: transparent;
  margin: 0;
}

link{
   text-decoration: none;
}
p{
  font-size: 14px;
  margin: auto;
}
.myButton{
  background-color: red;
}
.title{
  display: flex;
  justify-content: space-between;
  margin: 1.5em 0;
  font-size: 3rem;
  text-align: left;
  
}
.home{
  width: 80%;
  margin: 0 auto;
}
.balance{
  display: flex;
  max-width: 25em;
  height: 3.75em;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: gray;
  position: relative;
  margin: 5em auto;
  border-radius: 10px;
}
.currencyLogo{
  width: 5%;
  height: auto;
  position: absolute;
  left: 4%;
}
.currencyName{
  margin: 0;
  position: absolute;
  left: 11%;
  font-size: 1em;
}
.rightElement{
  margin: 0;
  position: absolute;
  right: 10%;
  font-size: 1.2em;
  color: white;
}
.navBar{
  display: flex;
  background-color: white;
  margin-left: 10%;
  padding-bottom:  10px;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 80%;
  z-index: 1;
}
.navBarButton{
  text-decoration: none;
  color: gray;
}
.navBarButton:hover{
  color: rgb(0, 149, 255);
}
.expand:hover{
  color: gold;
}
.formDiv{
  background-color: gray;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}
.formButton{
  background-color: white;
  border-radius: 5px;
  color: Gray;
}

.ID{
  margin-bottom: 40px;
}
#IDS{
  height: 800px;
  overflow: auto;
}
.id{
  display: inline-block;
  background-color: gray;
  color: white;
  border-radius: 10px;
  
  margin: 0 auto;
  
}
.idOwner{
  margin: auto 0;
}
.id p{
  font-size: 20px;
  padding: 10px;
  margin: 0;
}

.copyIcon{
  display: inline-block;
  margin: 10px;
}
.copyIcon:hover{
  color: gold;
}
.idHeader{
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .id p{
    font-size: 16px;
    padding: 5px;
    margin: 0;
  }
  .home{
    width: 95%;
    margin: 0 auto;
  }
}

#addContact{
  margin: auto;
  display: block;
  background-color: gold;
  border-radius: 50%;
  padding: 5px;
  width: 1.2em;
  height: 1.2em;
}